.fragment_1410 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 1rem;
	border-radius: 8px 8px 0 0;
}

.fragment_1410 .header {
	font-size: 1.125rem;
	line-height: 1.6875rem;
	color: #28282B;
	margin-bottom: unset;
}

.fragment_1410 .link {
	font-size: .75rem;
	line-height: 1.125rem;
	margin-bottom: unset;
}